POSTGRES_DB=agro360
POSTGRES_USER=agro360
POSTGRES_PASSWORD=change-this-development-password
APP_DB_PASSWORD=change-this-application-password
JWT_SIGNING_KEY=replace-with-at-least-32-random-characters
MINIO_ROOT_USER=agro360
MINIO_ROOT_PASSWORD=change-this-minio-password
